asgiref==3.7.2
chardet==5.2.0
crispy-bootstrap5==2023.10
crispy-tailwind==1.0.3
Django==5.2.1
django-crispy-forms==2.1
dotenv==0.9.9
idna==3.10
lxml==5.4.0
pillow==10.2.0
psycopg2-binary==2.9.9
python-barcode==0.15.1
python-decouple==3.8
python-docx==1.1.0
python-dotenv==1.0.1
reportlab==4.4.1
sqlparse==0.4.4
typing_extensions==4.13.2
tzdata==2025.2
whitenoise==6.6.0
gunicorn==21.2.0
